.App {
  padding: 16px;
  flex-flow: column;
}

.primary-btn {
  width: 100%;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 80px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.primary-btn:hover {
  background-color: #5aa2ef;
}

.primary-btn:active {
  border: 1px solid #006de1;
}

.crypto-name-input {
  width: 100%;
  padding: 8px 8px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}